{"openapi":"3.0.1","info":{"title":"LOOKY API Server","description":"API 명세서","version":"v1.0.0"},"servers":[{"url":"https://api.looky.kr"}],"security":[{"JWT Authentication":[]}],"tags":[{"name":"Admin Advertisement","description":"관리자 광고 관리 API"},{"name":"MyPage","description":"마이페이지 관련 API"},{"name":"Store","description":"상점 관련 API"},{"name":"Coupon","description":"쿠폰 관련 API"},{"name":"Student Event","description":"학생 이벤트 조회 API"},{"name":"Admin Partnership","description":"관리자 제휴 관련 API (일반/엑셀)"},{"name":"ItemCategory","description":"상품 카테고리 관련 API"},{"name":"Health Check","description":"서버 상태 확인 API"},{"name":"Organization","description":"대학 소속 관리 API"},{"name":"Advertisement","description":"광고 조회 API"},{"name":"Partnership","description":"제휴 혜택 관련 API"},{"name":"Upload","description":"파일 업로드 API"},{"name":"Auth","description":"인증 관련 API"},{"name":"Item","description":"상품 관련 API"},{"name":"Admin","description":"관리자 API"},{"name":"Favorite","description":"단골 상점(즐겨찾기) 관련 API"},{"name":"Admin Event","description":"관리자 이벤트 관리 API"},{"name":"Admin Inquiry","description":"관리자 문의 관리 API"},{"name":"StoreClaim","description":"상점 소유권 등록 API"},{"name":"StoreNews","description":"가게 소식 관련 API"},{"name":"StoreClaim","description":"상점 소유권 요청 심사 API"},{"name":"Review","description":"리뷰 관련 API"},{"name":"Event","description":"이벤트 조회 API"},{"name":"University","description":"대학 관리 API"}],"paths":{"/api/mypage/student/profile":{"get":{"tags":["MyPage"],"summary":"[학생] 내 정보 조회","description":"학생의 대학, 단과대, 학과, 동아리 활동 여부를 조회합니다.","operationId":"getStudentInfo","responses":{"403":{"description":"학생 회원이 아님","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseStudentInfoResponse"}}}},"404":{"description":"학생 프로필 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"put":{"tags":["MyPage"],"summary":"[학생] 프로필 수정","description":"학생의 프로필(닉네임, 단과대, 학과, 동아리 가입여부)을 수정합니다. 대학 변경은 별도 API 사용.","operationId":"updateStudentProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStudentProfileRequest"}}},"required":true},"responses":{"403":{"description":"학생 회원이 아님","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 조직 카테고리 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"프로필 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/universities":{"get":{"tags":["University"],"summary":"[공통] 대학 목록 조회","description":"전체 대학 목록을 조회합니다.","operationId":"getUniversities","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListUniversityResponse"}}}}}},"post":{"tags":["University"],"summary":"[관리자] 대학 등록","description":"새로운 대학을 등록합니다.","operationId":"createUniversity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUniversityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/universities/{universityId}/organizations":{"get":{"tags":["Organization"],"summary":"[공통] 특정 대학의 소속 목록 조회","description":"대학의 모든 소속을 조회합니다.","operationId":"getOrganizations","parameters":[{"name":"universityId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListOrganizationResponse"}}}}}},"post":{"tags":["Organization"],"summary":"[학생회] 특정 대학에 소속 등록","description":"대학에 새로운 소속(단과대, 학과 등)을 등록합니다.","operationId":"createOrganization","parameters":[{"name":"universityId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrganizationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/stores":{"get":{"tags":["Store"],"summary":"[학생] 상점 목록 조회","description":"전체 상점 목록을 페이징하여 조회합니다.","operationId":"getStores","parameters":[{"name":"keyword","in":"query","description":"검색 키워드 (상점 이름)","required":false,"schema":{"type":"string"}},{"name":"categories","in":"query","description":"카테고리 필터 (복수 선택 가능)","required":false,"schema":{"type":"array","items":{"type":"string","enum":["BAR","CAFE","RESTAURANT","ENTERTAINMENT","BEAUTY_HEALTH","ETC"]}}},{"name":"moods","in":"query","description":"분위기 필터 (복수 선택 가능)","required":false,"schema":{"type":"array","items":{"type":"string","enum":["SOLO_DINING","GROUP_GATHERING","LATE_NIGHT","ROMANTIC"]}}},{"name":"universityId","in":"query","description":"대학(상권) ID 필터","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"hasPartnership","in":"query","description":"제휴 업체 보유 여부 필터 (true: 있음, false: 없음, 생략: 전체)","required":false,"schema":{"type":"boolean"}},{"name":"storeStatus","in":"query","description":"상점 상태 필터 (UNCLAIMED, ACTIVE, BANNED, 생략: 전체)","required":false,"schema":{"type":"string","enum":["UNCLAIMED","ACTIVE","BANNED"]}},{"name":"pageable","in":"query","description":"페이징 정보 (page, size, sort)","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"상점 목록 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseStoreResponse"}}}}}},"post":{"tags":["Store"],"summary":"[점주] 상점 등록","description":"새로운 상점을 등록합니다.","operationId":"createStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreCreateRequest"}}},"required":true},"responses":{"201":{"description":"상점 등록 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"409":{"description":"이미 존재하는 상점 (상점명 + 지점명 기준)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/reviews":{"get":{"tags":["Review"],"summary":"[공통] 상점 리뷰 목록 조회","description":"특정 상점의 리뷰 목록을 페이징하여 조회합니다.","operationId":"getReviews","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseReviewResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"post":{"tags":["Review"],"summary":"[공통] 리뷰 및 답글 작성","description":"상점에 대한 리뷰(학생) 또는 답글(점주, 학생)을 작성합니다.","operationId":"createReview","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReviewRequest"}}},"required":true},"responses":{"201":{"description":"리뷰/답글 작성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"404":{"description":"상점 또는 원본 리뷰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (점주의 일반 리뷰 작성 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"409":{"description":"이미 작성된 리뷰 존재","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/reports":{"post":{"tags":["Store"],"summary":"[학생] 상점 신고","description":"특정 상점을 신고합니다.","operationId":"reportStore","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreReportRequest"}}},"required":true},"responses":{"200":{"description":"상점 신고 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"409":{"description":"이미 신고한 상점","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/news":{"get":{"tags":["StoreNews"],"summary":"[공통] 소식 목록 조회","description":"가게의 소식 목록을 조회합니다.","operationId":"getStoreNewsList","parameters":[{"name":"storeId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","description":"페이징 정보 (page, size, sort)","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseStoreNewsResponse"}}}}}},"post":{"tags":["StoreNews"],"summary":"[점주] 소식 등록","description":"가게에 새로운 소식을 등록합니다.","operationId":"createStoreNews","parameters":[{"name":"storeId","in":"path","description":"가게 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStoreNewsRequest"}}},"required":true},"responses":{"404":{"description":"가게 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"201":{"description":"소식 등록 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"403":{"description":"권한 없음 (본인 가게 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/items":{"get":{"tags":["Item"],"summary":"[공통] 상점별 상품 목록 조회","description":"특정 상점의 모든 상품을 조회합니다.","operationId":"getItems","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListItemResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"post":{"tags":["Item"],"summary":"[점주] 상품 등록","description":"상점에 새로운 상품을 등록합니다. (본인 상점만 가능)","operationId":"createItem","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateItemRequest"}}},"required":true},"responses":{"201":{"description":"상품 등록 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/item-categories":{"get":{"tags":["ItemCategory"],"summary":"[공통] 상품 카테고리 목록 조회","description":"매장의 상품 카테고리 목록을 조회합니다.","operationId":"getItemCategories","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListItemCategoryResponse"}}}}}},"post":{"tags":["ItemCategory"],"summary":"[점주] 상품 카테고리 등록","description":"매장에 새로운 상품 카테고리를 등록합니다.","operationId":"createItemCategory","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"404":{"description":"매장 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"201":{"description":"카테고리 등록 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/favorites":{"post":{"tags":["Favorite"],"summary":"[학생] 상점 즐겨찾기 추가","description":"특정 상점을 단골 상점으로 등록합니다.","operationId":"addFavorite","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"본인 상점","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"201":{"description":"즐겨찾기 추가 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"409":{"description":"이미 추가된 상점","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"delete":{"tags":["Favorite"],"summary":"[학생] 상점 즐겨찾기 취소","description":"단골 상점 등록을 취소합니다.","operationId":"removeFavorite","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"204":{"description":"즐겨찾기 취소 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/stores/{storeId}/coupons":{"get":{"tags":["Coupon"],"summary":"[공통] 상점별 쿠폰 목록 조회","description":"특정 상점의 모든 쿠폰을 조회합니다.","operationId":"getCouponsByStore","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListCouponResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"post":{"tags":["Coupon"],"summary":"[점주] 쿠폰 생성","description":"상점의 새로운 쿠폰을 생성합니다.","operationId":"createCoupon","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCouponRequest"}}},"required":true},"responses":{"400":{"description":"잘못된 요청 데이터 (타 상점 물품 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"201":{"description":"쿠폰 생성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/stores/{storeId}/coupons/{studentCouponId}/use":{"post":{"tags":["Coupon"],"summary":"[점주] 쿠폰 사용 확정","description":"조회된 쿠폰을 실제로 사용 처리합니다.","operationId":"useCoupon","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"studentCouponId","in":"path","description":"학생 쿠폰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"쿠폰 사용 완료","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"404":{"description":"쿠폰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"422":{"description":"활성화되지 않은 쿠폰","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/coupons/verify ":{"post":{"tags":["Coupon"],"summary":"[점주] 쿠폰 코드 조회 (검증)","description":"손님이 제시한 4자리 코드를 입력하여 혜택 및 사용자 정보를 확인합니다. (상태 변경 없음)","operationId":"verifyCoupon","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCouponRequest"}}},"required":true},"responses":{"200":{"description":"쿠폰 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVerifyCouponResponse"}}}},"422":{"description":"만료된 쿠폰","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"유효하지 않은 코드 또는 활성화되지 않은 쿠폰","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/store-news/{newsId}/likes":{"post":{"tags":["StoreNews"],"summary":"[공통] 소식 좋아요 토글","description":"소식에 좋아요를 누르거나 취소합니다.","operationId":"toggleLike","parameters":[{"name":"newsId","in":"path","description":"소식 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"404":{"description":"소식 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/store-news/{newsId}/comments":{"get":{"tags":["StoreNews"],"summary":"[공통] 댓글 목록 조회","description":"소식의 댓글 목록을 조회합니다.","operationId":"getComments","parameters":[{"name":"newsId","in":"path","description":"소식 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseStoreNewsCommentResponse"}}}}}},"post":{"tags":["StoreNews"],"summary":"[공통] 댓글 작성","description":"소식에 댓글을 작성합니다.","operationId":"createComment","parameters":[{"name":"newsId","in":"path","description":"소식 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStoreNewsCommentRequest"}}},"required":true},"responses":{"201":{"description":"댓글 작성 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"404":{"description":"소식 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/store-claims":{"post":{"tags":["StoreClaim"],"summary":"[점주] 상점 소유 요청 등록","description":"사장님이 상점에 대해 소유를 요청하여 심사 대상이 됩니다.","operationId":"createStoreClaims","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreClaimRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/reviews/{reviewId}/reports":{"post":{"tags":["Review"],"summary":"[공통] 리뷰 신고 ","description":"특정 리뷰를 신고합니다.","operationId":"reportReview","parameters":[{"name":"reviewId","in":"path","description":"리뷰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}},"required":true},"responses":{"404":{"description":"리뷰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"리뷰 신고 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/reviews/{reviewId}/likes":{"post":{"tags":["Review"],"summary":"[공통] 리뷰 좋아요","description":"리뷰에 좋아요를 누릅니다.","operationId":"addLike","parameters":[{"name":"reviewId","in":"path","description":"리뷰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"자신의 리뷰에 좋아요 시도","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"409":{"description":"이미 좋아요 누름","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"리뷰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"리뷰 좋아요 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"delete":{"tags":["Review"],"summary":"[공통] 리뷰 좋아요 취소","description":"리뷰 좋아요를 취소합니다.","operationId":"removeLike","parameters":[{"name":"reviewId","in":"path","description":"리뷰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"좋아요를 누르지 않은 리뷰","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"리뷰 좋아요 취소 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/presigned-url":{"post":{"tags":["Upload"],"summary":"Presigned URL 발급","description":"S3에 직접 업로드하기 위한 Presigned PUT URL을 발급합니다. 발급된 presignedUrl로 PUT 요청을 보내 파일을 업로드하고, 업로드 완료 후 fileUrl을 각 API에 전달하세요. 유효 시간은 10분입니다. S3 PUT 요청 시 Content-Type 헤더를 요청한 contentType과 동일하게 설정해야 합니다.","operationId":"getPresignedUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignedUrlRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePresignedUrlResponse"}}}}}}},"/api/organizations/{organizationId}/membership":{"post":{"tags":["Organization"],"summary":"[학생] 소속 가입","description":"학생이 특정 소속에 가입합니다.","operationId":"joinOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"delete":{"tags":["Organization"],"summary":"[학생] 소속 탈퇴","description":"학생이 특정 소속에서 탈퇴합니다.","operationId":"leaveOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"patch":{"tags":["Organization"],"summary":"[학생] 소속 변경","description":"학생이 소속을 변경합니다. (기존 동종 소속 자동 탈퇴)","operationId":"changeOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/mypage/student/university":{"post":{"tags":["MyPage"],"summary":"[학생] 대학 변경","description":"학생의 소속 대학을 변경합니다. (기존 단과대/학과는 초기화됨)","operationId":"updateUniversity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUniversityRequest"}}},"required":true},"responses":{"200":{"description":"대학 변경 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"404":{"description":"대학 정보 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"학생 회원이 아님","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/mypage/change-username":{"post":{"tags":["MyPage"],"summary":"[공통] 아이디 변경","description":"사용자의 아이디를 변경합니다.","operationId":"changeUsername","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeUsernameRequest"}}},"required":true},"responses":{"409":{"description":"이미 존재하는 아이디","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"아이디 변경 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/mypage/change-password":{"post":{"tags":["MyPage"],"summary":"[공통] 비밀번호 변경","description":"사용자의 비밀번호를 변경합니다.","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"400":{"description":"현재 비밀번호 불일치","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"비밀번호 변경 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/my-coupons/{studentCouponId}/activate":{"post":{"tags":["Coupon"],"summary":"[학생] 쿠폰 코드 발급","description":"매장에서 사용하기 위해 쿠폰을 활성화하고 4자리 코드를 발급받습니다.","operationId":"activateCoupon","parameters":[{"name":"studentCouponId","in":"path","description":"사용자 쿠폰 ID (download ID)","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"쿠폰 활성화 성공 (코드 반환)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseActivateCouponResponse"}}}},"422":{"description":"유효기간 만료","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"발급된 쿠폰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"409":{"description":"이미 사용된 쿠폰","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/inquiries":{"get":{"tags":["고객센터 API"],"summary":"내 문의 목록 조회","description":"내가 작성한 문의 목록을 조회합니다.","operationId":"getInquiries","parameters":[{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageInquiryResponse"}}}}}},"post":{"tags":["고객센터 API"],"summary":"문의하기","description":"고객센터에 문의를 등록합니다.","operationId":"createInquiry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInquiryRequest"}}},"required":true},"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"입력값 검증 실패 (제목 길이, 이미지 개수 초과 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/coupons/{couponId}/expire":{"post":{"tags":["Coupon"],"summary":"[점주] 쿠폰 수동 만료","description":"점주가 자신의 쿠폰을 수동으로 만료시킵니다.","operationId":"expireCoupon","parameters":[{"name":"couponId","in":"path","description":"쿠폰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"쿠폰 만료 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"404":{"description":"쿠폰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/coupons/{couponId}/download":{"post":{"tags":["Coupon"],"summary":"[학생] 쿠폰 다운로드","description":"사용자가 쿠폰을 다운로드받습니다.","operationId":"downloadCoupon","parameters":[{"name":"couponId","in":"path","description":"쿠폰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"쿠폰 다운로드 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseDownloadCouponResponse"}}}},"404":{"description":"쿠폰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"422":{"description":"재고 소진 / 발급 기간 아님 / 한도 초과","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/biz-reg-no/verify":{"post":{"tags":["StoreClaim"],"summary":"[점주] 사업자등록번호 유효성 검증","description":"사업자등록번호의 유효성을 검증합니다.","operationId":"verifyBizRegNo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BizVerificationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseBizVerificationResponse"}}}}}}},"/api/auth/signup/student":{"post":{"tags":["Auth"],"summary":"[학생] 학생 회원가입","description":"학생 회원을 등록합니다.","operationId":"signupStudent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentSignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}}}}},"/api/auth/signup/owner":{"post":{"tags":["Auth"],"summary":"[점주] 점주 회원가입","description":"점주 회원을 등록합니다.","operationId":"signupOwner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerSignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}}}}},"/api/auth/signup/council":{"post":{"tags":["Auth"],"summary":"[학생회] 학생회 회원가입","description":"학생회 회원을 등록합니다.","operationId":"signupcouncil","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouncilSignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}}}}},"/api/auth/refresh":{"post":{"tags":["Auth"],"summary":"[공통] 토큰 갱신","description":"RefreshToken으로 AccessToken을 갱신합니다.","operationId":"refresh","parameters":[{"name":"refreshToken","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"토큰 갱신 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}},"404":{"description":"사용자 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"401":{"description":"유효하지 않은 RefreshToken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/auth/logout":{"post":{"tags":["Auth"],"summary":"[공통] 로그아웃","description":"사용자를 로그아웃 처리합니다.","operationId":"logout","parameters":[{"name":"refreshToken","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"로그아웃 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/auth/login":{"post":{"tags":["Auth"],"summary":"[공통] 로그인","description":"아이디와 비밀번호로 로그인합니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"401":{"description":"인증 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}},"400":{"description":"로그인 실패 (아이디/비밀번호 불일치)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/auth/kakao/login":{"post":{"tags":["Auth"],"summary":"[공통] 카카오 로그인 (네이티브)","description":"카카오 인증 후 발급받은 access_token을 통해 로그인/회원가입을 진행합니다.","operationId":"kakaoLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KakaoLoginRequest"}}},"required":true},"responses":{"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}},"401":{"description":"카카오 인증 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 토큰 또는 파라미터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/auth/google/login":{"post":{"tags":["Auth"],"summary":"[공통] 구글 로그인 (네이티브)","description":"구글 인증 후 발급받은 id_token을 통해 로그인/회원가입을 진행합니다.","operationId":"googleLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleLoginRequest"}}},"required":true},"responses":{"401":{"description":"구글 인증 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}},"400":{"description":"잘못된 토큰 또는 파라미터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/auth/find-password/verify":{"post":{"tags":["Auth"],"summary":"[공통] 비밀번호 재설정 - 인증 확인 및 임시 토큰 반환","description":"인증번호 검증 후 비밀번호 재설정을 위한 임시 토큰을 반환합니다.","operationId":"verifyCodeForFindPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseString"}}}}}}},"/api/auth/find-password/send-code":{"post":{"tags":["Auth"],"summary":"[공통] 비밀번호 찾기 - 인증번호 발송","description":"아이디와 이메일이 일치하는지 확인 후 인증번호를 발송합니다.","operationId":"sendCodeForFindPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPasswordSendCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/auth/find-password/reset":{"post":{"tags":["Auth"],"summary":"[공통] 비밀번호 재설정","description":"비밀번호 재설정 토큰을 사용하여 새 비밀번호로 변경합니다.","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/auth/find-id/verify":{"post":{"tags":["Auth"],"summary":"[공통] 아이디 찾기 - 인증 확인 및 아이디 반환","description":"인증번호 검증 후 가입된 아이디를 반환합니다.","operationId":"verifyCodeForFindId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseString"}}}}}}},"/api/auth/find-id/send-code":{"post":{"tags":["Auth"],"summary":"[공통] 아이디 찾기 - 인증번호 발송","description":"가입된 이메일로 인증번호를 발송합니다.","operationId":"sendCodeForFindId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/auth/email/verify":{"post":{"tags":["Auth"],"summary":"[공통] 회원 가입용 이메일 인증 확인","description":"회원 가입용 이메일 인증 코드를 검증합니다. (true: 검증 (일치) 완료, false: 검증 실패 (코드 불일치 및 이미 등록된 이메일)","operationId":"verify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/auth/email/send-code":{"post":{"tags":["Auth"],"summary":"[공통] 회원 가입용 이메일 인증 발송","description":"회원 가입용 이메일 인증 코드를 전송합니다. (universityId 존재 시 도메인 검사 진행)","operationId":"send","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/auth/complete-social-signup":{"post":{"tags":["Auth"],"summary":"[공통] 소셜 회원가입 완료","description":"소셜 로그인 후 추가 정보를 입력하여 회원가입을 완료합니다.","operationId":"completeSocialSignup","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteSocialSignupRequest"}}},"required":true},"responses":{"409":{"description":"이미 존재하는 소셜 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"회원가입 완료 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}},"404":{"description":"사용자 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/auth/apple/login":{"post":{"tags":["Auth"],"summary":"[공통] 애플 로그인 (네이티브)","description":"애플 인증 후 발급받은 id_token을 통해 로그인/회원가입을 진행합니다.","operationId":"appleLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppleLoginRequest"}}},"required":true},"responses":{"200":{"description":"로그인 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLoginResponse"}}}},"401":{"description":"인증/디코딩 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 토큰 또는 파라미터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/admin/universities/{universityId}/organizations/{organizationId}/partnerships":{"get":{"tags":["Admin Partnership"],"summary":"조직별 제휴 목록 조회","description":"특정 대학의 특정 조직의 모든 제휴를 조회합니다.","operationId":"getPartnershipsByOrganization","parameters":[{"name":"universityId","in":"path","description":"대학 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationId","in":"path","description":"조직 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListPartnershipResponse"}}}}}},"post":{"tags":["Admin Partnership"],"summary":"[관리자] 제휴 단건 등록","description":"특정 대학의 특정 조직에 제휴를 단건으로 등록합니다.","operationId":"createPartnership","parameters":[{"name":"universityId","in":"path","description":"대학 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"organizationId","in":"path","description":"조직 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePartnershipRequest"}}},"required":true},"responses":{"403":{"description":"권한 없음 (관리자 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"409":{"description":"이미 등록된 제휴","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"201":{"description":"제휴 등록 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"404":{"description":"상점 또는 조직 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/admin/stores/upload":{"post":{"tags":["Admin"],"summary":"[관리자] 상점 데이터 엑셀 업로드","description":"상권 데이터를 엑셀로 업로드하여 DB에 저장 및 보정합니다.","operationId":"uploadStoreData","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"엑셀 파일 (.xlsx)","format":"binary"}}}}}},"responses":{"500":{"description":"서버 에러","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"업로드 성공 (작업 시작됨)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseString"}}}},"400":{"description":"잘못된 파일","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/admin/store-claims/{claimId}/reject":{"post":{"tags":["StoreClaim"],"summary":"[관리자] 상점 소유권 요청 반려","description":"상점 소유권 요청을 반려합니다.","operationId":"reject","parameters":[{"name":"claimId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreClaimRejectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/admin/store-claims/{claimId}/approve":{"post":{"tags":["StoreClaim"],"summary":"[관리자] 상점 소유권 요청 승인","description":"상점 소유권 요청을 승인합니다.","operationId":"approve","parameters":[{"name":"claimId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/admin/partnerships/upload":{"post":{"tags":["Admin Partnership"],"summary":"[학생회/관리자] 제휴 엑셀로 등록","description":"엑셀 파일을 업로드하여 제휴 정보를 일괄 등록/수정합니다.","operationId":"uploadPartnershipData","parameters":[{"name":"organizationId","in":"query","description":"대상 조직 ID (관리자용)","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"엑셀 파일","format":"binary"}}}}}},"responses":{"400":{"description":"데이터 검증 실패 (에러 메시지 포함)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"업로드 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/admin/events":{"post":{"tags":["Admin Event"],"summary":"[관리자] 이벤트 등록","description":"새로운 이벤트를 등록합니다.","operationId":"createEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEventRequest"}}},"required":true},"responses":{"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"201":{"description":"이벤트 등록 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/admin/advertisements":{"get":{"tags":["Admin Advertisement"],"summary":"[관리자] 광고 목록 조회","description":"광고 목록을 조회합니다. 타입 및 상태 필터를 지원합니다.","operationId":"getAdvertisements","parameters":[{"name":"type","in":"query","description":"광고 타입 필터 (POPUP / BANNER / FLOATING)","required":false,"schema":{"type":"string","enum":["POPUP","BANNER","FLOATING"]}},{"name":"status","in":"query","description":"광고 상태 필터 (SCHEDULED / ACTIVE / INACTIVE / ENDED)","required":false,"schema":{"type":"string","enum":["SCHEDULED","ACTIVE","INACTIVE","ENDED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseAdminAdvertisementResponse"}}}}}},"post":{"tags":["Admin Advertisement"],"summary":"[관리자] 광고 등록","description":"새로운 광고를 등록합니다.","operationId":"createAdvertisement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAdvertisementRequest"}}},"required":true},"responses":{"201":{"description":"광고 등록 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}},"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/universities/{universityId}":{"delete":{"tags":["University"],"summary":"[관리자] 대학 삭제","description":"대학을 삭제합니다.","operationId":"deleteUniversity","parameters":[{"name":"universityId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"patch":{"tags":["University"],"summary":"[관리자] 대학 수정","description":"대학 정보를 수정합니다.","operationId":"updateUniversity_1","parameters":[{"name":"universityId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUniversityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/stores/{storeId}":{"get":{"tags":["Store"],"summary":"[학생] 상점 단건 조회","description":"상점 ID로 상점의 상세 정보를 조회합니다.","operationId":"getStore","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"상점 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseStoreResponse"}}}}}},"delete":{"tags":["Store"],"summary":"[점주] 상점 삭제","description":"상점을 삭제합니다. (본인 상점만 가능)","operationId":"deleteStore","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"상점 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"patch":{"tags":["Store"],"summary":"[점주/관리자] 상점 정보 수정","description":"상점 정보를 수정합니다. 점주는 본인 상점만, 관리자는 점유 여부와 관계없이 수정할 수 있습니다.","operationId":"updateStore","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreUpdateRequest"}}},"required":true},"responses":{"200":{"description":"상점 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"409":{"description":"이미 존재하는 상점 (상점명 + 지점명 기준)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/item-categories/{categoryId}":{"delete":{"tags":["ItemCategory"],"summary":"[점주] 상품 카테고리 삭제","description":"상품 카테고리를 삭제합니다. (사용 중인 상품이 있으면 삭제 불가)","operationId":"deleteItemCategory","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"categoryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"카테고리 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"409":{"description":"상품이 연결되어 있어 삭제 불가","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"patch":{"tags":["ItemCategory"],"summary":"[점주] 상품 카테고리 수정","description":"상품 카테고리 이름을 수정합니다.","operationId":"updateItemCategory","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"categoryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/store-news/{newsId}":{"get":{"tags":["StoreNews"],"summary":"[공통] 소식 상세 조회","description":"소식 상세 정보를 조회합니다.","operationId":"getStoreNews","parameters":[{"name":"newsId","in":"path","description":"소식 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseStoreNewsResponse"}}}}}},"delete":{"tags":["StoreNews"],"summary":"[점주] 소식 삭제","description":"소식을 삭제합니다.","operationId":"deleteStoreNews","parameters":[{"name":"newsId","in":"path","description":"소식 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"소식 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"403":{"description":"권한 없음 (본인 가게 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"소식 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"patch":{"tags":["StoreNews"],"summary":"[점주] 소식 수정","description":"소식을 수정합니다.","operationId":"updateStoreNews","parameters":[{"name":"newsId","in":"path","description":"소식 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStoreNewsRequest"}}},"required":true},"responses":{"200":{"description":"소식 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"403":{"description":"권한 없음 (본인 가게 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"소식 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/reviews/{reviewId}":{"delete":{"tags":["Review"],"summary":"[공통] 리뷰 삭제","description":"작성한 리뷰 또는 답글을 삭제합니다. (본인만 가능)","operationId":"deleteReview","parameters":[{"name":"reviewId","in":"path","description":"리뷰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"리뷰 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"403":{"description":"권한 없음 (본인 리뷰 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"리뷰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"patch":{"tags":["Review"],"summary":"[공통] 리뷰 수정","description":"작성한 리뷰 또는 답글을 수정합니다. (본인만 가능)","operationId":"updateReview","parameters":[{"name":"reviewId","in":"path","description":"리뷰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReviewRequest"}}},"required":true},"responses":{"403":{"description":"권한 없음 (본인 리뷰 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"리뷰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"리뷰 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/organizations/{organizationId}":{"delete":{"tags":["Organization"],"summary":"[학생회] 소속 삭제","description":"소속을 삭제합니다.","operationId":"deleteOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"patch":{"tags":["Organization"],"summary":"[학생회] 소속 수정","description":"소속 정보를 수정합니다.","operationId":"updateOrganization","parameters":[{"name":"organizationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrganizationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/items/{itemId}":{"get":{"tags":["Item"],"summary":"[공통] 상품 단건 조회","description":"상품 ID로 상품의 상세 정보를 조회합니다.","operationId":"getItem","parameters":[{"name":"itemId","in":"path","description":"상품 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseItemResponse"}}}},"404":{"description":"상품 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"delete":{"tags":["Item"],"summary":"[점주] 상품 삭제","description":"상품을 삭제합니다. (본인 상점만 가능)","operationId":"deleteItem","parameters":[{"name":"itemId","in":"path","description":"상품 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"상품 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"상품 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"patch":{"tags":["Item"],"summary":"[점주] 상품 수정","description":"상품 정보를 수정합니다. (본인 상점만 가능)","operationId":"updateItem","parameters":[{"name":"itemId","in":"path","description":"상품 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateItemRequest"}}},"required":true},"responses":{"200":{"description":"상품 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"상품 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/coupons/{couponId}":{"delete":{"tags":["Coupon"],"summary":"[점주] 쿠폰 삭제","description":"쿠폰을 삭제합니다. (본인 상점만 가능)","operationId":"deleteCoupon","parameters":[{"name":"couponId","in":"path","description":"쿠폰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"쿠폰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"204":{"description":"쿠폰 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"patch":{"tags":["Coupon"],"summary":"[점주] 쿠폰 수정","description":"쿠폰 정보를 수정합니다. (본인 상점만 가능)","operationId":"updateCoupon","parameters":[{"name":"couponId","in":"path","description":"쿠폰 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCouponRequest"}}},"required":true},"responses":{"404":{"description":"쿠폰 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (본인 소유 상점 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"쿠폰 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/admin/users/{userId}/role":{"patch":{"tags":["Admin"],"summary":"[관리자] 사용자 권한 수정","description":"사용자의 권한을 수정합니다.","operationId":"updateUserRole","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"사용자 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/admin/store-claims/{claimId}/memo":{"patch":{"tags":["StoreClaim"],"summary":"[관리자] 상점 소유권 요청 관리자 메모 등록 및 수정","description":"상점 소유권 요청에 관리자 메모를 남깁니다.","operationId":"updateMemo","parameters":[{"name":"claimId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/admin/partnerships/{partnershipId}":{"delete":{"tags":["Admin Partnership"],"summary":"[관리자] 제휴 삭제","description":"제휴를 삭제합니다.","operationId":"deletePartnership","parameters":[{"name":"partnershipId","in":"path","description":"제휴 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"제휴 정보 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"204":{"description":"제휴 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"patch":{"tags":["Admin Partnership"],"summary":"[관리자] 제휴 혜택 수정","description":"제휴 내용을 수정합니다.","operationId":"updatePartnershipBenefit","parameters":[{"name":"partnershipId","in":"path","description":"제휴 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePartnershipRequest"}}},"required":true},"responses":{"404":{"description":"제휴 정보 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (관리자 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"제휴 혜택 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/admin/events/{eventId}":{"delete":{"tags":["Admin Event"],"summary":"[관리자] 이벤트 삭제","description":"이벤트를 삭제합니다.","operationId":"deleteEvent","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"이벤트 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"204":{"description":"이벤트 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}},"patch":{"tags":["Admin Event"],"summary":"[관리자] 이벤트 수정","description":"이벤트 정보를 수정합니다.","operationId":"updateEvent","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEventRequest"}}},"required":true},"responses":{"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"이벤트 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"이벤트 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/admin/advertisements/{advertisementId}":{"delete":{"tags":["Admin Advertisement"],"summary":"[관리자] 광고 삭제","description":"광고를 삭제합니다. S3 이미지도 함께 삭제됩니다.","operationId":"deleteAdvertisement","parameters":[{"name":"advertisementId","in":"path","description":"광고 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"광고 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"404":{"description":"광고 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}},"patch":{"tags":["Admin Advertisement"],"summary":"[관리자] 광고 수정","description":"광고 정보 및 상태를 수정합니다. 상태는 활성화/비활성화만 가능합니다.","operationId":"updateAdvertisement","parameters":[{"name":"advertisementId","in":"path","description":"광고 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAdvertisementRequest"}}},"required":true},"responses":{"404":{"description":"광고 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"광고 수정 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}},"400":{"description":"잘못된 요청 데이터","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/health":{"get":{"tags":["Health Check"],"summary":"[공통] 서버 헬스 체크","description":"서버가 정상적으로 동작 중인지 확인합니다.","operationId":"healthCheck","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/student/events":{"get":{"tags":["Student Event"],"summary":"[학생] 이벤트 목록 조회","description":"소속 대학 기준으로 이벤트 목록을 조회합니다.","operationId":"getEvents","parameters":[{"name":"keyword","in":"query","description":"검색 키워드 (제목)","required":false,"schema":{"type":"string"}},{"name":"eventTypes","in":"query","description":"이벤트 타입 필터 (복수 선택 가능)","required":false,"schema":{"type":"array","items":{"type":"string","enum":["SCHOOL_EVENT","STUDENT_EVENT","FOOD_EVENT","FLEA_MARKET","PERFORMANCE","BRAND_POPUP"]}}},{"name":"status","in":"query","description":"상태 필터","required":false,"schema":{"type":"string","enum":["UPCOMING","LIVE","ENDED"]}},{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseEventResponse"}}}}}}},"/api/student/events/{eventId}":{"get":{"tags":["Student Event"],"summary":"[학생] 이벤트 단건 조회","description":"이벤트 ID로 상세 정보를 조회합니다.","operationId":"getEvent","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"이벤트 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseEventResponse"}}}}}}},"/api/stores/{storeId}/stats":{"get":{"tags":["Store"],"summary":"[점주] 상점 통계 조회","description":"상점의 통계 데이터(단골 수, 쿠폰 발행/사용 수, 리뷰 수)를 조회합니다.","operationId":"getStoreStats","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseStoreStatsResponse"}}}}}}},"/api/stores/{storeId}/reviews/stats":{"get":{"tags":["Review"],"summary":"[공통] 상점 리뷰 통계","description":"상점의 평점 평균, 총 리뷰 수, 별점별 개수 분포를 조회합니다.","operationId":"getReviewStats","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"통계 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseReviewStatsResponse"}}}},"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/stores/{storeId}/registration-status":{"get":{"tags":["Store"],"summary":"[점주] 상점 등록 상태 조회","description":"상점의 정보 및 메뉴 등록 여부를 조회합니다.","operationId":"getStoreRegistrationStatus","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseStoreRegistrationStatusResponse"}}}}}}},"/api/stores/{storeId}/partnerships":{"get":{"tags":["Partnership"],"summary":"[학생] 특정 상점의 제휴 혜택 목록 조회","description":"특정 상점이 맺고 있는 전체 제휴 혜택과 내가 받을 수 있는 혜택인지 여부를 함께 조회합니다.","operationId":"getStorePartnerships","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListStorePartnershipResponse"}}}}}}},"/api/stores/{storeId}/favorites/count":{"get":{"tags":["Favorite"],"summary":"[공통] 상점 즐겨찾기 수 조회","description":"특정 상점의 총 단골 수를 조회합니다.","operationId":"countFavorites","parameters":[{"name":"storeId","in":"path","description":"상점 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"상점 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseLong"}}}}}}},"/api/stores/nearby":{"get":{"tags":["Store"],"summary":"[학생] 주위 상점 조회","description":"위도, 경도, 반경(km)을 기준으로 주위 상점을 조회합니다.","operationId":"getNearbyStores","parameters":[{"name":"latitude","in":"query","description":"위도","required":true,"schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","description":"경도","required":true,"schema":{"type":"number","format":"double"}},{"name":"radius","in":"query","description":"반경(km)","required":true,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"상점 목록 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListStoreResponse"}}}}}}},"/api/stores/my-stores":{"get":{"tags":["Store"],"summary":"[점주] 자신의 상점 조회","description":"자신이 등록한 모든 상점을 조회합니다.","operationId":"getMyStores","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListStoreResponse"}}}}}}},"/api/stores/map":{"get":{"tags":["Store"],"summary":"[학생] 지도용 상점 전체 조회","description":"지도를 위한 상점 전체 목록을 조회합니다.","operationId":"getStoreMap","parameters":[{"name":"universityId","in":"query","description":"대학(상권) ID 필터","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListStoreMapResponse"}}}}}}},"/api/stores/location":{"get":{"tags":["Store"],"summary":"[학생] 특정 위치 상점 목록 조회","description":"위도, 경도가 일치하는 상점 목록을 조회합니다. (같은 건물/위치)","operationId":"getStoresByLocation","parameters":[{"name":"latitude","in":"query","description":"위도","required":true,"schema":{"type":"number","format":"double"}},{"name":"longitude","in":"query","description":"경도","required":true,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"상점 목록 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListStoreResponse"}}}}}}},"/api/stores/hot":{"get":{"tags":["Store"],"summary":"[학생] 이번 주 핫한 가게 조회","description":"학생의 소속 대학에서 이번 주 찜이 가장 많이 늘어난 상점 Top 10을 조회합니다.","operationId":"getHotStores","responses":{"403":{"description":"권한 없음 (학생 아님/대학 미소속)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListHotStoreResponse"}}}}}}},"/api/store-claims/search":{"get":{"tags":["StoreClaim"],"summary":"[점주] 미등록 상점 검색","description":"시스템에 등록된 미등록 상점을 이름 또는 주소로 검색합니다.","operationId":"searchUnclaimedStores","parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListStoreResponse"}}}}}}},"/api/store-claims/my":{"get":{"tags":["StoreClaim"],"summary":"[점주] 내 상점 소유 요청 목록 조회","description":"점주가 자신이 신청한 상점 소유 요청 목록을 조회합니다.","operationId":"getMyStoreClaims","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListMyStoreClaimResponse"}}}}}}},"/api/reviews/my":{"get":{"tags":["Review"],"summary":"[공통] 내 리뷰 목록 조회","description":"내가 작성한 리뷰 목록을 조회합니다.","operationId":"getMyReviews","parameters":[{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseReviewResponse"}}}}}}},"/api/organizations/{collegeId}/departments":{"get":{"tags":["Organization"],"summary":"[공통] 특정 단과대학의 학과 목록 조회","description":"단과대학에 속한 학과 목록을 조회합니다.","operationId":"getDepartmentsByCollege","parameters":[{"name":"collegeId","in":"path","description":"단과대학 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListOrganizationResponse"}}}}}}},"/api/mypage/owner/profile":{"get":{"tags":["MyPage"],"summary":"[점주] 내 정보 조회","description":"점주의 이름, 이메일, 아이디, 성별, 생년월일을 조회합니다.","operationId":"getOwnerInfo","responses":{"403":{"description":"점주 회원이 아님","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"404":{"description":"점주 프로필 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseOwnerInfoResponse"}}}}}}},"/api/my-coupons":{"get":{"tags":["Coupon"],"summary":"[학생] 내 쿠폰 조회","description":"사용자가 발급받은 쿠폰 목록을 조회합니다.","operationId":"getMyCoupons","responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListDownloadCouponResponse"}}}}}}},"/api/inquiries/{inquiryId}":{"get":{"tags":["고객센터 API"],"summary":"문의 상세 조회","description":"문의 상세 내용을 조회합니다.","operationId":"getInquiry","parameters":[{"name":"inquiryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"본인 문의 아님","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseInquiryResponse"}}}},"404":{"description":"문의 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/favorites":{"get":{"tags":["Favorite"],"summary":"[학생] 내 단골 상점 목록 조회","description":"내가 등록한 단골 상점 목록을 페이징하여 조회합니다.<br>정렬 기능: 찜한최신순(sort=createdAt,desc), 별점높은순(sort=store.averageRating,desc)","operationId":"getMyFavorites","parameters":[{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseFavoriteStoreResponse"}}}}}}},"/api/events":{"get":{"tags":["Event"],"summary":"[공통] 이벤트 목록 조회","description":"이벤트 목록을 페이징하여 조회합니다. 이벤트 타입 복수선택 가능.","operationId":"getEvents_1","parameters":[{"name":"keyword","in":"query","description":"검색 키워드 (제목)","required":false,"schema":{"type":"string"}},{"name":"eventTypes","in":"query","description":"이벤트 타입 필터 (복수 선택 가능)","required":false,"schema":{"type":"array","items":{"type":"string","enum":["SCHOOL_EVENT","STUDENT_EVENT","FOOD_EVENT","FLEA_MARKET","PERFORMANCE","BRAND_POPUP"]}}},{"name":"status","in":"query","description":"상태 필터","required":false,"schema":{"type":"string","enum":["UPCOMING","LIVE","ENDED"]}},{"name":"universityId","in":"query","description":"대학 ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseEventResponse"}}}}}}},"/api/events/{eventId}":{"get":{"tags":["Event"],"summary":"[공통] 이벤트 단건 조회","description":"이벤트 ID로 상세 정보를 조회합니다.","operationId":"getEvent_1","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"이벤트 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseEventResponse"}}}}}}},"/api/coupons/today":{"get":{"tags":["Coupon"],"summary":"[학생] 오늘의 신규 쿠폰 조회","description":"학생의 학교와 제휴된 매장에서 24시간 이내에 발급된 쿠폰 목록을 조회합니다.","operationId":"getTodayCoupons","responses":{"403":{"description":"학생 권한 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListCouponResponse"}}}},"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListCouponResponse"}}}}}}},"/api/auth/check-username":{"get":{"tags":["Auth"],"summary":"[공통] 아이디 중복 확인","description":"아이디 사용 가능 여부를 확인합니다. (true: 사용 가능, false: 중복)","operationId":"checkUsernameAvailability","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseBoolean"}}}}}}},"/api/advertisements/popup":{"get":{"tags":["Advertisement"],"summary":"[공통] 팝업 광고 목록 조회","description":"현재 노출 중인 팝업 광고 목록을 노출 순서대로 조회합니다.","operationId":"getPopupAdvertisements","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListAdvertisementResponse"}}}}}}},"/api/advertisements/floating":{"get":{"tags":["Advertisement"],"summary":"[공통] 플로팅 배너 목록 조회","description":"현재 노출 중인 플로팅 배너 목록을 노출 순서대로 조회합니다.","operationId":"getFloatingAdvertisements","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListAdvertisementResponse"}}}}}}},"/api/advertisements/banner":{"get":{"tags":["Advertisement"],"summary":"[공통] 배너 광고 목록 조회","description":"현재 노출 중인 배너 광고 목록을 노출 순서대로 조회합니다.","operationId":"getBannerAdvertisements","responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListAdvertisementResponse"}}}}}}},"/api/admin/users":{"get":{"tags":["Admin"],"summary":"[관리자] 전체 사용자 목록 조회","description":"가입된 모든 사용자를 페이징하여 조회합니다.","operationId":"getAllUsers","parameters":[{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"403":{"description":"권한 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseUserResponse"}}}}}}},"/api/admin/universities/{universityId}/partnerships":{"get":{"tags":["Admin Partnership"],"summary":"대학별 제휴 목록 조회","description":"특정 대학의 모든 제휴를 조회합니다.","operationId":"getPartnershipsByUniversity","parameters":[{"name":"universityId","in":"path","description":"대학 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseListPartnershipResponse"}}}}}}},"/api/admin/stores/geocode":{"get":{"tags":["Admin"],"summary":"[관리자] 주소로 위경도 변환","description":"주소를 입력받아 위도, 경도 좌표를 반환합니다.","operationId":"getGeocode","parameters":[{"name":"address","in":"query","description":"도로명 주소 (예: 전라북도 전주시 덕진구 명륜3길 22)","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"서버 에러","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 주소/API 호출 에러","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"변환 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseCoordinate"}}}}}}},"/api/admin/store-claims":{"get":{"tags":["StoreClaim"],"summary":"[관리자] 상점 소유권 요청 목록 조회","description":"상점 소유권 요청 목록을 조회합니다. status 파라미터로 상태별 조회가 가능합니다.","operationId":"getStoreClaims","parameters":[{"name":"status","in":"query","description":"요청 상태 (PENDING, APPROVED, REJECTED, CANCELED)","required":false,"schema":{"type":"string","enum":["PENDING","APPROVED","REJECTED","CANCELED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageStoreClaimResponse"}}}}}}},"/api/admin/partnerships/template":{"get":{"tags":["Admin Partnership"],"summary":"[관리자] 제휴 등록 템플릿 다운로드","description":"특정 대학의 상점 리스트가 포함된 엑셀 템플릿을 다운로드합니다.","operationId":"exportPartnershipTemplate","parameters":[{"name":"universityId","in":"query","description":"대상 대학 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"권한 없음","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"200":{"description":"다운로드 성공","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/admin/inquiries":{"get":{"tags":["Admin Inquiry"],"summary":"[관리자] 문의 전체 목록 조회","description":"모든 사용자의 문의 내역을 조회합니다.","operationId":"getAllInquiries","parameters":[{"name":"pageable","in":"query","description":"페이징 정보","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponsePageResponseInquiryResponse"}}}},"403":{"description":"권한 없음 (관리자 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}}}}},"/api/store-news/{newsId}/comments/{commentId}":{"delete":{"tags":["StoreNews"],"summary":"[공통] 댓글 삭제","description":"자신의 댓글을 삭제합니다.","operationId":"deleteComment","parameters":[{"name":"newsId","in":"path","description":"소식 ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"commentId","in":"path","description":"댓글 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"댓글 찾을 수 없음","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"403":{"description":"권한 없음 (본인 댓글 아님)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"204":{"description":"댓글 삭제 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}},"/api/auth/withdraw":{"delete":{"tags":["Auth"],"summary":"[공통] 회원 탈퇴","description":"회원을 탈퇴 처리합니다. (Soft Delete)","operationId":"withdraw","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawRequest"}}},"required":true},"responses":{"401":{"description":"인증 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"400":{"description":"잘못된 요청 (기타 사유 미입력 등)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwaggerErrorResponse"}}}},"204":{"description":"회원 탈퇴 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseVoid"}}}}}}}},"components":{"schemas":{"UpdateStudentProfileRequest":{"type":"object","properties":{"nickname":{"type":"string"},"collegeId":{"type":"integer","format":"int64"},"departmentId":{"type":"integer","format":"int64"},"isClubMember":{"type":"boolean"}}},"ErrorDetail":{"type":"object","properties":{"field":{"type":"string"},"value":{"type":"string"},"reason":{"type":"string"}}},"ErrorResponse":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail"}}}},"SwaggerErrorResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean","description":"성공 여부","example":false},"data":{"$ref":"#/components/schemas/ErrorResponse"}},"description":"공통 에러 응답"},"CommonResponseVoid":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"type":"object"}}},"CreateUniversityRequest":{"required":["emailDomains","name"],"type":"object","properties":{"name":{"type":"string"},"emailDomains":{"type":"array","items":{"type":"string"}},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"CommonResponseLong":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"type":"integer","format":"int64"}}},"CreateOrganizationRequest":{"required":["category","name"],"type":"object","properties":{"category":{"type":"string","enum":["COLLEGE","DEPARTMENT","UNIVERSITY_COUNCIL","CLUB_ASSOCIATION"]},"name":{"type":"string"},"parentId":{"type":"integer","format":"int64"},"expiresAt":{"type":"string","format":"date-time"}}},"StoreCreateRequest":{"required":["name","roadAddress"],"type":"object","properties":{"name":{"type":"string","description":"상호명","example":"루키 카페"},"branch":{"type":"string","description":"지점명","example":"강남점"},"bizRegNo":{"type":"string","description":"사업자등록번호","example":"123-45-67890"},"roadAddress":{"type":"string","description":"도로명 주소","example":"서울시 강남구 테헤란로 123"},"jibunAddress":{"type":"string","description":"지번 주소","example":"서울시 강남구 역삼동 123-45"},"latitude":{"type":"number","description":"위도","format":"double","example":37.123456},"longitude":{"type":"number","description":"경도","format":"double","example":127.123456},"storePhone":{"type":"string","description":"가게 전화번호","example":"02-1234-5678"},"representativeName":{"type":"string","description":"대표자명","example":"홍길동"},"introduction":{"type":"string","description":"가게 소개","example":"맛있는 커피와 디저트가 있는 공간입니다."},"operatingHours":{"type":"string","description":"영업 시간 (JSON 형식 권장)","example":"{\"mon\":\"09:00-22:00\",\"tue\":\"CLOSED\"}"},"storeCategories":{"type":"array","description":"가게 카테고리 목록","items":{"type":"string","description":"가게 카테고리 목록","enum":["BAR","CAFE","RESTAURANT","ENTERTAINMENT","BEAUTY_HEALTH","ETC"]}},"storeMoods":{"type":"array","description":"가게 분위기 목록","items":{"type":"string","description":"가게 분위기 목록","enum":["SOLO_DINING","GROUP_GATHERING","LATE_NIGHT","ROMANTIC"]}},"universityIds":{"type":"array","description":"연결할 대학 ID 목록","items":{"type":"integer","description":"연결할 대학 ID 목록","format":"int64"}},"profileImageUrl":{"type":"string","description":"프로필 이미지 URL"},"imageUrls":{"type":"array","description":"갤러리 이미지 URL 목록 (최대 3장)","items":{"type":"string","description":"갤러리 이미지 URL 목록 (최대 3장)"}},"menuBoardImageUrls":{"type":"array","description":"메뉴판 이미지 URL 목록 (최대 10장)","items":{"type":"string","description":"메뉴판 이미지 URL 목록 (최대 10장)"}}},"description":"가게 정보 생성 요청"},"CreateReviewRequest":{"required":["content"],"type":"object","properties":{"content":{"type":"string"},"rating":{"maximum":5,"minimum":1,"type":"integer","format":"int32"},"parentReviewId":{"type":"integer","format":"int64"},"imageUrls":{"type":"array","items":{"type":"string"}}}},"StoreReportRequest":{"required":["reasons"],"type":"object","properties":{"reasons":{"type":"array","items":{"type":"string","enum":["BENEFIT_REFUSAL","BENEFIT_MISMATCH","EVENT_NOT_HELD","CLOSED_OR_MOVED","INFO_ERROR","LOCATION_MISMATCH","ETC"]}},"detail":{"type":"string"}}},"CreateStoreNewsRequest":{"required":["content","title"],"type":"object","properties":{"title":{"type":"string","description":"소식 제목","example":"오늘의 할인 이벤트!"},"content":{"type":"string","description":"소식 내용","example":"오늘 하루만 전 메뉴 10% 할인합니다."},"imageUrls":{"type":"array","description":"이미지 URL 목록 (최대 5장)","items":{"type":"string","description":"이미지 URL 목록 (최대 5장)"}}},"description":"가게 소식 생성 요청"},"CreateItemRequest":{"required":["name"],"type":"object","properties":{"name":{"type":"string"},"price":{"minimum":0,"type":"integer","format":"int32"},"description":{"type":"string"},"itemOrder":{"type":"integer","format":"int32"},"badge":{"type":"string","enum":["BEST","NEW","HOT","VEGAN"]},"itemCategoryId":{"type":"integer","format":"int64"},"imageUrl":{"type":"string"},"hidden":{"type":"boolean"},"soldOut":{"type":"boolean"},"representative":{"type":"boolean"}}},"CreateCouponRequest":{"required":["benefitType","limitPerUser","title","validDays"],"type":"object","properties":{"title":{"type":"string"},"issueStartsAt":{"type":"string","format":"date-time"},"issueEndsAt":{"type":"string","format":"date-time"},"validDays":{"type":"integer","format":"int32"},"totalQuantity":{"type":"integer","format":"int32"},"limitPerUser":{"type":"integer","format":"int32"},"benefitType":{"type":"string","enum":["FIXED_DISCOUNT","PERCENTAGE_DISCOUNT","SERVICE_GIFT"]},"benefitValue":{"type":"string"},"minOrderAmount":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["ACTIVE","SOLD_OUT","EXPIRED","WITHDRAWN_BY_OWNER"]}}},"VerifyCouponRequest":{"required":["code"],"type":"object","properties":{"code":{"maxLength":4,"minLength":4,"type":"string"}}},"CommonResponseVerifyCouponResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"$ref":"#/components/schemas/VerifyCouponResponse"}}},"VerifyCouponResponse":{"type":"object","properties":{"studentCouponId":{"type":"integer","format":"int64"},"studentNickname":{"type":"string"},"couponTitle":{"type":"string"},"benefitType":{"type":"string","enum":["FIXED_DISCOUNT","PERCENTAGE_DISCOUNT","SERVICE_GIFT"]},"benefitValue":{"type":"string"},"downloadedAt":{"type":"string","format":"date-time"},"expiresAt":{"type":"string","format":"date-time"},"isExpired":{"type":"boolean"}}},"CreateStoreNewsCommentRequest":{"required":["content"],"type":"object","properties":{"content":{"maxLength":500,"minLength":1,"type":"string","description":"댓글 내용","example":"정말 좋은 이벤트네요!"}},"description":"소식 댓글 생성 요청"},"StoreClaimRequest":{"required":["bizRegNo","representativeName","storeId","storeName","userId"],"type":"object","properties":{"storeId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"bizRegNo":{"type":"string"},"representativeName":{"type":"string"},"storeName":{"type":"string"},"storePhone":{"type":"string"},"licenseImageUrl":{"type":"string"}}},"ReportRequest":{"required":["reason"],"type":"object","properties":{"reason":{"type":"string","enum":["MALICIOUS_SLANDER","INAPPROPRIATE_CONTENT","RIGHTS_VIOLATION","PRIVACY_INFRINGEMENT","COMMERCIAL_PROMOTION","FRAUDULENT_REVIEW","IRRELEVANT","OTHER"]},"detail":{"maxLength":300,"minLength":0,"type":"string"}}},"PresignedUrlRequest":{"required":["contentType","fileName"],"type":"object","properties":{"fileName":{"type":"string"},"contentType":{"type":"string"}}},"CommonResponsePresignedUrlResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PresignedUrlResponse"}}},"PresignedUrlResponse":{"type":"object","properties":{"presignedUrl":{"type":"string"},"fileUrl":{"type":"string"}}},"UpdateUniversityRequest":{"required":["universityId"],"type":"object","properties":{"universityId":{"type":"integer","format":"int64"}}},"ChangeUsernameRequest":{"required":["newUsername"],"type":"object","properties":{"newUsername":{"type":"string"}}},"ChangePasswordRequest":{"required":["currentPassword","newPassword"],"type":"object","properties":{"currentPassword":{"type":"string"},"newPassword":{"type":"string"}}},"ActivateCouponResponse":{"type":"object","properties":{"verificationCode":{"type":"string"},"activationExpiresAt":{"type":"string","format":"date-time"}}},"CommonResponseActivateCouponResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ActivateCouponResponse"}}},"CreateInquiryRequest":{"required":["content","title","type"],"type":"object","properties":{"type":{"type":"string","enum":["COUPON_BENEFIT","MAP_LOCATION","STORE_INFO_ERROR","EVENT_PARTICIPATION","ALERT_ACCOUNT","PROPOSAL_OTHER"]},"title":{"maxLength":14,"minLength":1,"type":"string"},"content":{"maxLength":500,"minLength":0,"type":"string"},"imageUrls":{"type":"array","items":{"type":"string"}}}},"CommonResponseDownloadCouponResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"$ref":"#/components/schemas/DownloadCouponResponse"}}},"DownloadCouponResponse":{"type":"object","properties":{"studentCouponId":{"type":"integer","format":"int64"},"couponCode":{"type":"string"},"status":{"type":"string","enum":["UNUSED","ACTIVATED","USED","EXPIRED"]},"downloadedAt":{"type":"string","format":"date-time"},"expiresAt":{"type":"string","format":"date-time"},"title":{"type":"string"},"benefitType":{"type":"string","enum":["FIXED_DISCOUNT","PERCENTAGE_DISCOUNT","SERVICE_GIFT"]},"benefitValue":{"type":"string"},"minOrderAmount":{"type":"integer","format":"int32"},"storeName":{"type":"string"},"activationExpiresAt":{"type":"string","format":"date-time"}}},"BizInfo":{"type":"object","properties":{"bno":{"type":"string"},"pnm":{"type":"string"},"b_no":{"type":"string"},"start_dt":{"type":"string"},"p_nm":{"type":"string"}}},"BizVerificationRequest":{"type":"object","properties":{"bizs":{"type":"array","items":{"$ref":"#/components/schemas/BizInfo"}}}},"BizStatus":{"type":"object","properties":{"b_no":{"type":"string"},"valid":{"type":"string"},"valid_msg":{"type":"string"},"status":{"$ref":"#/components/schemas/Status"}}},"BizVerificationResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BizStatus"}},"status_code":{"type":"string"},"match_cnt":{"type":"integer","format":"int32"},"request_cnt":{"type":"integer","format":"int32"}}},"CommonResponseBizVerificationResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"$ref":"#/components/schemas/BizVerificationResponse"}}},"Status":{"type":"object","properties":{"b_no":{"type":"string"},"b_stt":{"type":"string"},"b_stt_cd":{"type":"string"}}},"StudentSignupRequest":{"type":"object","properties":{"username":{"pattern":"^[a-zA-Z0-9]{6,16}$","type":"string"},"password":{"pattern":"^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).{8,20}$","type":"string"},"email":{"type":"string"},"nickname":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","UNKNOWN"]},"birthDate":{"type":"string","format":"date"},"universityId":{"type":"integer","format":"int64"},"collegeId":{"type":"integer","format":"int64"},"departmentId":{"type":"integer","format":"int64"},"isClubMember":{"type":"boolean"}}},"CommonResponseLoginResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"LoginResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"}}},"OwnerSignupRequest":{"type":"object","properties":{"username":{"pattern":"^[a-zA-Z0-9]{6,16}$","type":"string"},"password":{"pattern":"^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9]).{8,20}$","type":"string"},"email":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","UNKNOWN"]},"birthDate":{"type":"string","format":"date"},"name":{"type":"string"}}},"CouncilSignupRequest":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"name":{"type":"string"},"universityId":{"type":"integer","format":"int64"}}},"LoginRequest":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}}},"KakaoLoginRequest":{"required":["accessToken"],"type":"object","properties":{"accessToken":{"type":"string","description":"Kakao SDK를 통해 발급받은 Access Token","example":"abc123def456..."},"idToken":{"type":"string","description":"Kakao SDK를 통해 발급받은 ID Token (선택)","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},"description":"카카오 소셜 로그인 요청 (앱 네이티브)"},"GoogleLoginRequest":{"required":["idToken"],"type":"object","properties":{"idToken":{"type":"string","description":"Google 인증 후 발급받은 JWT 형식의 id_token","example":"eyJhbGciOiJSUzI1NiIs..."}},"description":"구글 소셜 로그인 요청 (앱 네이티브)"},"VerifyEmailCodeRequest":{"required":["code","email"],"type":"object","properties":{"email":{"type":"string"},"code":{"type":"string"}}},"CommonResponseString":{"type":"object","properties":{"isSuccess":{"type":"boolean"},"data":{"type":"string"}}},"FindPasswordSendCodeRequest":{"required":["email","username"],"type":"object","properties":{"username":{"type":"string"},"email":{"type":"string"}}},"ResetPasswordRequest":{"required":["newPassword","resetToken"],"type":"object","properties":{"resetToken":{"type":"string"},"newPassword":{"type":"string"}}},"SendEmailCodeRequest":{"required":["email"],"type":"object","properties":{"email":{"type":"string"},"universityId":{"type":"integer","format":"int64"}}},"CompleteSocialSignupRequest":{"type":"object","properties":{"role":{"type":"string","enum":["ROLE_GUEST","ROLE_COUNCIL","ROLE_STUDENT","ROLE_OWNER","ROLE_ADMIN"]},"gender":{"type":"string","enum":["MALE","FEMALE","UNKNOWN"]},"birthDate":{"type":"string","format":"date"},"nickname":{"type":"string"},"universityId":{"type":"integer","format":"int64"},"collegeId":{"type":"integer","format":"int64"},"departmentId":{"type":"integer","format":"int64"},"isClubMember":{"type":"boolean"},"name":{"type":"string"},"email":{"type":"string"}}},"AppleLoginRequest":{"required":["idToken"],"type":"object","properties":{"idToken":{"type":"string","description":"Apple 인증 후 발급받은 JWT 형식의 id_token","example":"eyJraWQiOiI... (긴 문자열)"},"name":{"type":"string","description":"유저의 이름 (Apple 로그인 최초 1회에만 제공됨. 없을 경우 null)","example":"홍길동"}},"description":"애플 소셜 로그인 요청 (앱 네이티브)"},"CreatePartnershipRequest":{"required":["benefit","endsAt","organizationId","startsAt","storeId"],"type":"object","properties":{"storeId":{"type":"integer","format":"int64"},"organizationId":{"type":"integer","format":"int64"},"benefit":{"type":"string"},"startsAt":{"type":"string","format":"date"},"endsAt":{"type":"string","format":"date"}}},"StoreClaimRejectionRequest":{"type":"object","properties":{"reason":{"type":"string"}}},"CreateEventRequest":{"required":["eventTypes","place","startDateTime","title"],"type":"object","properties":{"title":{"type":"string","description":"이벤트 제목","example":"2024 봄 플리마켓"},"description":{"type":"string","description":"이벤트 설명","example":"다양한 수공예품과 먹거리를 만나보세요!"},"subtitle":{"type":"string","description":"이벤트 부제목","example":"봄맞이 대축제"},"eventTypes":{"type":"array","description":"이벤트 타입 목록","example":["FLEA_MARKET","FOOD_EVENT"],"items":{"type":"string","description":"이벤트 타입 목록","example":"[\"FLEA_MARKET\",\"FOOD_EVENT\"]","enum":["SCHOOL_EVENT","STUDENT_EVENT","FOOD_EVENT","FLEA_MARKET","PERFORMANCE","BRAND_POPUP"]}},"latitude":{"type":"number","description":"위도","format":"double","example":37.5665},"longitude":{"type":"number","description":"경도","format":"double","example":126.978},"startDateTime":{"type":"string","description":"이벤트 시작일시","format":"date-time"},"endDateTime":{"type":"string","description":"이벤트 종료일시","format":"date-time"},"place":{"type":"string","description":"장소","example":"학생회관 1층"},"universityId":{"type":"integer","description":"대학교 ID (null이면 모든 학교 대상)","format":"int64","nullable":true},"bannerImageUrl":{"type":"string","description":"배너 이미지 URL"},"imageUrls":{"type":"array","description":"일반 이미지 URL 목록","items":{"type":"string","description":"일반 이미지 URL 목록"}}},"description":"이벤트 생성 요청"},"CreateAdvertisementRequest":{"required":["advertisementType","endAt","imageUrl","startAt","title"],"type":"object","properties":{"title":{"type":"string","description":"광고 제목","example":"여름 이벤트 팝업 광고"},"advertisementType":{"type":"string","description":"광고 타입 (POPUP / BANNER / FLOATING)","example":"POPUP","enum":["POPUP","BANNER","FLOATING"]},"imageUrl":{"type":"string","description":"광고 이미지 URL","example":"https://cdn.looky.com/advertisements/popup/image.jpg"},"landingUrl":{"type":"string","description":"랜딩 URL (없으면 클릭 불가)","nullable":true,"example":"https://event.looky.com/summer"},"displayOrder":{"minimum":0,"type":"integer","description":"노출 순서 (낮을수록 우선 노출, ACTIVE 시작 시만 적용 / 미입력 시 마지막 순서)","format":"int32","nullable":true,"example":0},"startAt":{"type":"string","description":"노출 시작일시","format":"date-time"},"endAt":{"type":"string","description":"노출 종료일시","format":"date-time"},"targetUniversityIds":{"type":"array","description":"타겟 대학 ID 목록 (없으면 전체 대학 대상)","nullable":true,"items":{"type":"integer","description":"타겟 대학 ID 목록 (없으면 전체 대학 대상)","format":"int64","nullable":true}},"targetOrganizationIds":{"type":"array","description":"타겟 단과대 ID 목록 (없으면 전체 단과대 대상, 반드시 대학 ID도 함께 지정해야 함)","nullable":true,"items":{"type":"integer","description":"타겟 단과대 ID 목록 (없으면 전체 단과대 대상, 반드시 대학 ID도 함께 지정해야 함)","format":
[...]
